body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    }

i {
    margin: 25px;
    padding-top: 10px;
    transform: scale(4);
}

.container {
    height: 100%;
    color: #FFF;
    background: #000;
    text-align: center;
    font-size: 1.25em;
    padding: 50px;
    background-color: #F4F4F4;
    background-size: cover;
    background-position: center;
    
    
}

.modal{
    display: show;
    position: fixed;
    z-index:1;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }

  .modal-content{
    background-color:#f4f4f4;
    color: #000000;
    margin: 20% auto;
    width:70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name:modalopen;
    animation-duration:1s;
  }

#temp {
    padding-top: 50px;
}

#changeTemp {
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

#picture {
  height: 100px;
  width: 100px;
}
