body {
    padding: 0;
    margin: 0;
    }

.container {
    height: 100%;
    color: #FFF;
    background: #000;
    text-align: center;
    font-size: 1.25em;
    padding: 50px;
    background-image: url("/img/clearNight.jpg");
    background-size: cover;
    bakg
}

.bottom {
     /* padding-top: 200px; */
}

#changeTemp {
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

#picture {
  height: 100px;
  width: 100px;
}
